<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021215461601-djg1397vujplgilh6bbt0u2toiumga1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021215461601-djg1397vujplgilh6bbt0u2toiumga1b</string>
	<key>API_KEY</key>
	<string>AIzaSyDwCmvVJtZEbIhFuebyleAibXVTZiCylkg</string>
	<key>GCM_SENDER_ID</key>
	<string>1021215461601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-fda3a</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-fda3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021215461601:ios:8399af5b23ed6ee73fa7a0</string>
</dict>
</plist>